# Ignorar carpetas de datos pesados
wheels/*
outputs/*
temp_uploads/*
checkpoints/*


# Ignorar entorno virtual si creas uno local
venv/
.env

# Ignorar archivos de sistema y Python
__pycache__/
*.pyc
.DS_Store
venv_hunyuan/
